<!DOCTYPE html>

<div class="card article-card">
	<a style="text-decoration: none" href="{{url}}">
		<div class="img" style="background-image: url({{imageUrl}})"></div>
		<div class="text-wrapper">
			<h5>{{ title }}</h5>
		</div>
	</a>
</div>
