<div class="faq-card">
 <div class="faq-card-h">
	What happens after the event?
 </div>
 <div class="break-line"></div>
 <div class="faq-text">
	 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

 </div>
</div>
