<div class="listing-features-card card">
	<div class="img"><i class="fa fa-film" aria-hidden="true"></i></div>
<div class="features-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
</div>
