<div class="tweet-card card">
	<div class="header">
		<div class="title">Web Summit  <span>@W... -20h <i class="fa fa-check" aria-hidden="true"></i></span></div>
	</div>
	<div class="tweet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con.</div>
	<div class="tweet-img"></div>

  <div class="bottom">
		<div class="messages"><i class="fa fa-commenting" aria-hidden="true"></i></div>
		<div class="shared"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
		<div class="liked"><i class="fa fa-heart" aria-hidden="true"></i> </div>
		<div class="mail"><i class="fa fa-envelope" aria-hidden="true"></i></div>

  </div>


</div>
