<!DOCTYPE html>

<div class="card video-card ">
	<div id="{{ _id }}" class="link openpop-video">
		<div class="img" style="background-image:url({{image}})">
	
		</div>
		<div class="text-wrapper">
			<h5>{{ videoTitle }}</h5>
		</div>
	</div>
</div>



<div id="modalID{{ _id }}" class="modal">
	<div class="modal-content">
		<!-- The Modal Content -->
	</div>
	<div class="button-close-container">
		<div class="button-close">Close</div>
	</div>
</div>
