<div class="card-slider-container">
	<div id="{{content-title}}" class="slider-events">
		<div class="slider-track"> </div>
		<div class="handle gray-bar"> <h4>{{content-title}}</h4><i class="event-slider-arrow fa {{fa-choice}}" aria-hidden="true" i></i>
		</div>
	</div>
	<div class="events-desk">{{ content-title }}</div>
</div>
