
<form class="contact-form" action="index.html" method="post">
	<div class="close-modal"><i class="fa fa-times contact-x" aria-hidden="true"></i></div>
	<div class="contact-h">TechChrunch</div>

	<div class="validation-message">

	</div>


	<div class="input-container">
		<div class="fa-container">
			<i class="fa fa-user" aria-hidden="true"></i>
		</div>

		<input type="text" name="fullName" value="" class="form-name" placeholder="Full name">

	</div>
	<div class="input-container">
		<div class="fa-container">
			<i class="fa fa-envelope" aria-hidden="true"></i>
		</div>

		<input type="email" name="email" value="" class="form-email" placeholder="Email">

	</div>


	<select name="cars" class="subject-inquiry">

		<option value="cats">Inquire about an event</option>
		<option value="more-cats">Volounteer as a Speaker</option>
		<option value="both">Other Enqueiries</option>
	</select>


	<textarea class="contact-text" name="name" rows="8" cols="80"></textarea>

	<div class="button-submit-container">
		<button type="submit" class="button-submit">Send message</button>
	</div>
</form>
