<div class="event-page-container">
	{{#if eventsData.length }}
	<div class="events-container">
		{{> card-slider content-title="Events"}}
		<div class="arrow-container">
			<div class="leftArrow hidden"><i class=" fa fa-chevron-left" aria-hidden="true" i></i></div>
			<div class="event-list card-list">

				{{#each eventsData}}
				{{> event-card title=name location=location dateStart=eventDate.start   dateFinish=eventDate.finish eventImage=imageFileName _id=_id}}
				{{/each}}

			</div>
			<div class="rightArrow"><i class=" fa fa-chevron-right" aria-hidden="true" i></i></div>
		</div>
	</div>
	{{/if}}


	{{#if videosData.length }}
	<div class="videos-container">
		{{> card-slider content-title="Videos"}}
		<div class="arrow-container">
			<div class="leftArrow hidden"><i class=" fa fa-chevron-left" aria-hidden="true" i></i></div>
			<div class="video-list card-list">

				{{#each videosData }}
				{{> video-card videoTitle=title videoLength=duration image=image _id =_id }}
				{{/each}}

			</div>
			<div class="rightArrow"><i class=" fa fa-chevron-right" aria-hidden="true" i></i></div>
		</div>
	</div>
	{{/if}}

	{{#if hubData.length }}
	<div class="hubs-container" >

		{{> card-slider content-title="Hubs"}}
		<div class="arrow-container">
			<div class="leftArrow hidden"><i class=" fa fa-chevron-left" aria-hidden="true" i></i></div>
			<div class="hub-list card-list">

				{{#each hubData}}
				{{> hub-card mainTag=name slug=slug _tags=_tags imageUrl=imageUrl}}
				{{/each}}

			</div>

			<div class="rightArrow"><i class=" fa fa-chevron-right" aria-hidden="true" i></i></div>
		</div>
	</div>
	{{/if}}

	<div class="speakers-container">
		<div class="speaker-blue-desc">
			{{> card-slider content-title="Speakers"}}
			<div class="arrow-container">
				<div class="leftArrow hidden"><i class=" fa fa-chevron-left" aria-hidden="true" i></i></div>
				<div class="speaker-list card-list">

					{{#each speakerData}}
					{{> speaker-card fullName=fullName profession=profession location=location nationality=nationality imageUrl=imageUrl _id=id }}

					{{/each}}

				</div>
				<div class="rightArrow"><i class=" fa fa-chevron-right" aria-hidden="true" i></i></div>
			</div>
		</div>
	</div>


</div>
