
<div class="widgets">
	<h1>Helllloooooo</h1>



	<tito-widget event="web-dev/2017-edition" ></tito-widget>
	<tito-button event="web-dev/2017-edition"></tito-button>

	<tito-widget event="web-dev/my-little-pony"></tito-widget>
	<tito-button event="web-dev/2017-edition"></tito-button>



	<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>
	<!-- Noscript content for added SEO -->
	<noscript><a href="https://www.eventbrite.co.uk/e/testing-web-dev-tickets-40706947576" rel="noopener noreferrer" target="_blank"></noscript>
	<!-- You can customize this button any way you like -->



	<button id="eventbrite-widget-modal-trigger-40706947576" type="button">Buy Tickets to web dev testing</button>
	<noscript>Buy Tickets on Eventbrite</noscript>



	<script src="https://www.universe.com/embed.js"></script><iframe id="unii-embed-page" src="https://www.universe.com/embed/users/C0QTJR" frameborder="0"></iframe>

</div>
